# Dependency directories
node_modules/
venv/
env/
ENV/

# OS files
.DS_Store

# Logs
*.log

# Environment variables
.env
.env.example
.env.local
.env.*.local

# Build outputs
dist/
build/
__pycache__/
*.pyc

# Local IDE settings
.vscode/
.idea/
